*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.register
{
        color: white;
        text-decoration: overline;
        padding-right: 0.7em;
        padding-top: 0.8em;
        padding-bottom: 0.4em;
}

.logo_user
{
    padding-left: 10em;
    width: 70px;
    height: 30px;
}

.fname
{
    margin-inline-start: 0.5em;
    margin-inline-end: 15em;
}