
.parking_try
{
    background: rgba(18, 85, 70, 0.89);
    border-radius: 0.3em;
    border-style: groove;
    padding-top: 1em;
    padding-right: 1em;
}




.parking_try_type
{
    border-radius: 1em;
}


.parking_try_pool
{
    background: rgba(18, 85, 70, 0.89);
    border-radius: 0.3em;
    border-style: groove;
    padding-top: 1em;
    margin-right: 20.1em;
    margin-left: 2.3em;

}

.price_room_service
{
    border-radius: 0.3em;
    padding-left: 2em;
    height: 50px;
    width: 242px;
    font-size: small;
    padding-top: 0.5em;
    border-style: hidden;
}

.custom_room_service
{
                            border-radius: 0.3em;
                            padding-left: 2em;
                            height: 50px;
                            width: 252px;
                            font-size: small;
                            padding-top: 0.5em;
                            border-style: hidden;

}

.btn_add_service
{
    padding-left: 20em;
    padding-right: 2em;
    margin-bottom: 1em;
}

.add_btn_service
{
    background: rgb(18, 102, 91);
    
}

.add_btn_service
{
    transition-duration: 0.3s;
}

.add_btn_service:hover
{
    background-color: rgba(16, 40, 146, 0.993);
    color: white;
}



