

.register1
{
    background: rgba(178, 178, 192, 0.87) ;
        margin-left: 33em;
        height: 60px;
        width: 150px;
        text-align: center;
        font-size: large;
        margin-bottom: 2em;
        border-radius: 0.5em;
        color: white;
}