.title1{
    background:rgba(0, 0, 255, 0.87);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
        text-shadow: black;
        font-size: 70px;
        padding-top: 0.2em;
        padding-right: 3em;
        padding-bottom: 0.2em;
        margin-inline-start: 0.94em;
        margin-inline-end: 12.5em;
        margin-bottom: 1.5em;
        border-bottom-left-radius: 0.2em;
        border-bottom-right-radius: 1em;
        padding-left: 1em;
        
        color: white;
        
        border-style: groove;
        

}
.reg1
{               
    background:#0083d6 ;          
                font-size: medium;
                
                text-align: end;
                padding-top: 1em;
                padding-bottom: 0.8em;
                padding-right: 0.5em;
                margin-right: 4.4em;
                margin-inline-start: 4.1em;
                text-decoration:  overline;
                margin-bottom: 0.1em;
                border-radius: 0.2em;
}
.hero1{ 
        background: #0083d6 ;
        border-radius: 0.5em;
        border-style: groove;
        margin-inline-start: 5em;
        margin-inline-end: 5em;
     
        padding-bottom: 4em;
        .title2
        {   
            background:rgb(0, 0, 255) ;
            border-radius: 0.3em;
            text-align: left;
            color: white;
            font-size: x-large;
            font-weight: 500;
            padding: 20px 20px 20px 20px;
            border-style: groove;
            
        }

        

        .firstname
        {
            padding-left: 1em;
            border-radius: 0.3em;
            margin-top: 5em;
            width: 350px;
            height: 50px;
            font-size: small;
            border-style: hidden;
        }

        .lastname
        {
            
            border-radius: 0.3em;
            margin-top: 5em;
            padding-left: 1em;
            width: 350px;
            height: 50px;
            font-size: small;
            border-style: hidden;
        }

        .cont1
        {
            
            border-radius: 0.3em;
            padding-left: 1em;
            margin-top: 5em;
            font-size: small;
            width: 350px;
            height: 50px;   
            border-style: hidden;
        }

        .emailhotel
        {
            
            border-radius: 0.3em;
            margin-top: 3em;
            font-size: small;
            width: 350px;
            height: 50px;
            padding-left: 1em;
            border-style: hidden;
        }
        .pass1
        {
            border-radius: 0.3em;
            padding-left: 1em;
            margin-top: 3em;
            font-size: small;
            width: 350px;
            height: 50px;
            border-style: hidden;
        }

     
     
   
    }        

    

    .hero2{ 
        background: #0083d6;
        border-radius: 0.5em;
        margin-inline-start: 5em;
        margin-inline-end: 5em;
        margin-top: 5em;
        padding-bottom: 5em;
        border-style: groove;
        .title3
        {   
            background:rgb(0, 0, 255) ;
            border-radius: 0.3em;
            text-align: left;
            color: white;
            font-size: x-large;
            font-weight: 500;
            padding: 20px 20px 20px 20px;
            border-style: groove;
            
        }

        .proptitle{
            border-radius: 0.3em;
            padding-left: 1em;
            height: 50px;
            width: 350px;
            font-size: small;
            margin-top: 5em;
            border-style: hidden;
        }

        .prop1
        {
            
            padding-left: 1em;
            border-radius: 0.3em;
            margin-top: 5em;
            width: 350px;
            height: 50px;
            font-size: small;
            border-style: hidden;
        }

        .rate1
        {
            
            border-radius: 0.3em;
            margin-top: 5em;
            padding-left: 1em;
            
            width: 350px;
            height: 50px;
            font-size: small;
            border-style: hidden;
        }

        .contact1
        {
            
            border-radius: 0.3em;
            margin-top: 3em;
            padding-left: 1em;
            font-size: small;
            width: 350px;
            height: 50px;   
            border-style: hidden;
        }

        .detail1
        {
            
            border-radius: 0.3em;
            margin-top: 3em;
            padding-left: 1em;
            font-size: small;
            width: 350px;
            height: 50px;
            border-style: hidden;
            
        }
        .prop2
        {
            border-radius: 0.3em;
            padding-left: 1em;
            margin-top: 3em;
            font-size: small;
            width: 350px;
            height: 50px;
            border-style: hidden;
        }

        

      
    }        

    .register1
    {
        background: rgba(0, 0, 255, 0.87) ;
        margin-left: 33em;
        height: 60px;
        width: 150px;
        text-align: center;
        font-size: large;
        margin-bottom: 2em;
        border-radius: 0.5em;
        color: white;
        
    }
